body.index article.hentry {
    top: 0px;

    header.entry-header {
        border: none;
        margin: none;

        h1.entry-title {
            margin: none;
            padding: none;
        }
    }

    div.entry-content {
        margin: none;
        padding: none;

        div.banner {

            position:relative;

            a {
                display: block;
                text-decoration: none;
                margin: auto;

                h2 {
                    background: #FFF;
                    position: absolute;
                    top: 30%;
                    padding: 1em;
                    margin: 0px;
                    border: 2px solid white;
                    border-left: none;
                    -webkit-transition: background-color 1s ease-in-out, color 1s ease-in-out;
                    transition: background-color 1s ease-in-out, color 1s ease-in-out;
                }
            }

            a:hover {

                color: #FFF;

                h2 {
                    background: #444;
                    color: #FFF;
                    width: 100%;
                    text-align: center;
                    padding: 1em 0em;
                }
            }

            @media screen and (max-width: 400px) {
                img {
                    display: none
                }

                a {
                    text-decoration: underline;
                    h2 {
                        position: static;
                        top: 0px;
                        border: 0px;
                    }
                }
            }

            @media screen and (max-width: 640px) {
                h2 {
                    font-size: 75%;
                }
            }
        }
    }
}
